<section>
<mat-grid-list cols="3" rowHeight="240px" gutterSize="20px">  
     <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        (mouseenter) = "toggleElement()"
        (mouseleave) = "toggleElement()">

      <div class="container" style="background-image: url('{{tile.image}}');" 
      [ngClass]="{'enlarge': showElement.myelement}"> 

      <div>{{tile.text}}</div>

     </div>

    </mat-grid-tile>

  </mat-grid-list>
</section>